<%- include('layouts/header.ejs')%>
<!-- Front Page Title -->
  <div class="container">
    <div class="row">
      <div class="col">
        <h3 class="text-center"><strong>Films</strong></h3>
      </div>
    </div>
  </div>  


  <div class="container">
    <div class="row">
      <div class="col">
        <p class="text-center"><strong>Click the headers to sort the table.</strong></p>
        <p class="text-center">The first time you click, the sorting direction is ascending (A to Z).</p>
        <p class="text-center">Click again, and the sorting direction will be descending (Z to A):</p>
      </div>
    </div>
  </div>  
 
  <div class="container">
    <div class="row">
      <div class="col">
        <table id="FilmTable">
            <tr>
             <!--When a header is clicked, run the sortTable function, with a parameter, 0 for sorting by names, 1 for sorting by country:-->  
              <th onclick="sortTable(0)">Name of Film</th>
              <th onclick="sortTable(1)">Director</th>
              <th onclick="sortTable(2)">Rating</th>
              <th onclick="sortTable(3)">Release Date</th>
            </tr>
            <!--Avengers: Engame Start-->
            <tr>
              <td>
                <a href="../views/m1_AvgEndgame.html">Avengers: Endgame</a>
              </td>
              <td>Anthony Russo, Joe Russo</td>
              <td>PG-13</td>
              <td>April 26, 2019</td>
            </tr>
            <!--Avengers: Engame End-->

            <!--Minions Rise of Gru Start-->
            <tr>

              <td class="td1">Minions: Rise of Gru</td>
              <td class="td1">Kyle Balda</td>

            </tr>
            <!--Minions Rise of Gru End-->

            <!--1917 Start-->
            <tr>
              <td>
                <a href="../views/m3_1917.html">1917</a>
              </td>
              <td>Sam Mendes</td>
              <td>R</td>
              <td>December 4, 2019</td>
            </tr>
            <!--1917 End-->

            <!--The Batman Start-->
            <tr>
              <td class="td1">L Film</td>
              <td class="td1">L Director</td>
            </tr>
            <!--The Batman End-->

            <!--Nope Start-->
            <tr>
              <td>Nope</td>
              <td>Jordan Peele</td>
            </tr>
            <!--Nope End-->


            <tr>
              <td class="td1">W Film</td>
              <td class="td1">W Director</td>
            </tr>
            <tr>
              <td>Z Film</td>
              <td>Z Director</td>
            </tr>
            <tr>
              <td class="td1">Q Film</td>
              <td class="td1">Q Director</td>
            </tr>
          </table>
        </div>
    </div>
  </div>  

<br>
<br>
<br>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</body>
</html>