<%- include('layout/header.ejs') %>

  <br>
  <br>
  <!-- Main Web Title -->
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="text-center title"><strong>FilmRev</strong></h1>
      </div>
    </div>
  </div>
  <hr>
  <br>
  <br>
<!-- Movie Page Title -->
  <div class="container">
    <div class="row gy-5">
      <div class="col">
       <!-- <h3 class="m2_title "><strong>Minions: The Rise of Gru</strong></h3> -->
      </div>
    </div>
  </div>

  <div class="container text-center">
    <div class="row">
      <div class="col col-md-auto">
        <h3 class="m2_title "><strong>Minions: The Rise of Gru</strong></h3>
        <img src="/images/Movie_2.jpeg" width="300px">

        <div class="star">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
          </svg>
        </div>

        <h4 class = "Star_Rating"> 4.1 </h4>
        
        <div> 
          <a class="btn btn-primary btn-sm trailer_btn" href="https://youtu.be/6DxjJzmYsXo" role="button">Watch Trailer</a>

          <!-- Review button form starts here -->
          <a class="button btn btn-success btn-sm review_btn button" href="#divOne">Rate Movie</a>
        </div>
        <div class="overlay" id="divOne">
          <div class="wrapper">
            <div class="content">
              <div class="container_review">
                <div class="post">
                  <div class="text">Thanks for rating the movie!</div>
                  <div class="edit">EDIT</div>
                </div>
                <div class="star-widget">
                  <input type="radio" name="rate" id="rate-5">
                  <label for="rate-5" class="fas fa-star"></label>
                  <input type="radio" name="rate" id="rate-4">
                  <label for="rate-4" class="fas fa-star"></label>
                  <input type="radio" name="rate" id="rate-3">
                  <label for="rate-3" class="fas fa-star"></label>
                  <input type="radio" name="rate" id="rate-2">
                  <label for="rate-2" class="fas fa-star"></label>
                  <input type="radio" name="rate" id="rate-1">
                  <label for="rate-1" class="fas fa-star"></label>
                  <form action="#">
                  <header></header>
                  <div class="textarea">
                    <textarea cols="30" placeholder="Provide your review..."></textarea>
                  </div>
                  <div class="btn">
                    <button type="submit">Submit</button>
                  </div>
                  </form>
                </div>
                </div>
            </div>
          </div>
          <!-- Review button form ends here -->

        </div>

      </div>
      <div class="col col-sum">
        <h3> <strong> Summary </strong> </h3>
        <hr>
        <p> 
          In the 1970s, young Gru tries to join a group of supervillains called the Vicious 6 after they oust their leader -- the legendary fighter Wild Knuckles. When the interview turns disastrous, 
          Gru and his Minions go on the run with the Vicious 6 hot on their tails. Luckily, he finds an unlikely source for guidance -- Wild Knuckles himself -- 
          and soon discovers that even bad guys need a little help from their friends.
        </p>

        <h3> <strong> Reviews </strong> </h3>
        <hr>
        <p> 
          "What an amazing film! It's so silly but that's what makes it so fun and enjoyable to watch. 

          And there's loads more I can praise about it too: the voice acting is fantastic, especially from Steve Carell who is the standout because of how 
          perfectly he plays Gru, the animation is gorgeous and such high quality, every scene blends into the next really well, and the soundtrack is SO good - that was 
          definitely a highlight for me. All of this and the fact that it has a genuinely interesting story and is filled with constant exciting action/tension means you 
          never want to take your eyes off the screen. And not to mention it was hilarious from start to finish :)""
        </p>

        <p>
          "This movie has so many references to the sixties and seventies that I don't think people under twenty will understand the puns, innuendos and jokes. The children in the theater will still laugh at the slapstick jokes.""
        </p>

        <p> 
          "After the last of the Minions movies, Despicable Me 3, I thought the adorable critters had stayed too long at the party. The sequel dropoff had been trending, reaching low enough for a mercy killing. So when I saw that there was another round coming - 
          a prequel of Gru's origin story, I entered the theater with trepidation. SURPRISE!! This one may be the funniest of the series! New writers apparently did the trick. Well, Matthew Fogel is new to the franchise, and Brian Lynch is returning after penning 
          the relatively amusing Minions in 2015. They give us Gru at age 11, aspiring to be a supervillain and already variably helped and plagued by his little yellow pals. He gets the chance to join a quintet of his megavillain heroes when the vacancy they'd just created by ousting the 
          sixth member opens the selection for his replacement. They shun him just because he's a kid inspiring him to turn the tables on them to prove his worth. The plot borrows from the Indiana Jones legacy and slips in homages to Kung Fu flicks and many other pop-culture 
          figures and themes, set in1976, mostly in San Francisco.
        </p>

      </div>
      
    </div>
  </div>

  <br>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>


</body>
<hr class="bottom_nav">
</html>