<%- include('layout/header.ejs') %>
    
      <br>
      <br>
      <!-- Main Web Title -->
      <div class="container">
        <div class="row">
          <div class="col">
            <h1 class="text-center title"><strong>FilmRev</strong></h1>
          </div>
        </div>
      </div>
      <hr>
      <br>
      <br>
    <!-- Front Page Title -->
      <div class="container">
        <div class="row">
          <div class="col">
            <h3 class="text-center"><strong>Request A Film</strong></h3>
          </div>
        </div>
      </div>  
    
    
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
      
</body>
<!-- <hr class="bottom_nav"> -->
</html>