body {
    background-color:darksalmon;
}

.card{
    background-color: lightgray;
    margin: 3%;
    opacity: 100%;
}

hr{
    background-color:black;
    height: 10px;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

/* Class for Main Website Title */
.title {
    font-size: 100px;
}
/* Class For The Movie Review titles */
.movie_title {
    margin-left: 25px;
    margin-bottom: 10px;
}

.star{
    color: yellow;
    position:absolute;
    margin-top: 10px;
    
}

.Star_Rating{
    position: absolute;
    margin-top: 12px;
    margin-left: 38px;
    
}

.trailer_btn{
    margin-top: 12px;
    margin-left: 50px;
}

.review_btn{
    margin-top: 12px;
    margin-left: 10px;
    

}

table {
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th {
    cursor: pointer;
  }
  
  th, td {
    text-align: left;
    padding: 16px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2
  }

